<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajou Parking</title>

    <!-- 부트스트랩 CSS 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet"  href="css/my.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>






<div id="sidebar">
    <div id="searchContainer">
        <label for="searchRoadName">키워드를 입력하세요.</label>
        <div class="input-group">
            <input type="text" id="searchRoadName" name="searchRoadName" placeholder="예) 영통구, 월드컵로, etc." class="form-control">
            <button onclick="searchParkingLot()" class="btn btn-primary">검색</button>
        </div>
    </div>
    <div id="searchResultsContainer">
        <div id="searchResult"></div>
    </div>

    <div id="detailedParkingLotInfo"></div>

</div>

<div id="visualizationContainer">
    <button id="roadBtn" class="btn btn-primary"  >로드뷰</button>
    <button id="mapBtn" class="btn btn-primary"  >지도뷰</button>
    <button id="serveyBtn" class="btn btn-primary">만족도조사</button>
    <button id="visualizationBtn" class="btn btn-primary">시각화분석</button>
</div>

<div id="map"></div>
<div id="roadview"></div>

<div id="Reviews">
    <h3>리뷰</h3>
    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>작성자</th>
            <th>내용</th>
            <th>작성일자</th>
        </tr>
        </thead>
        <tbody th:each="comment: ${commentList}">
        <tr>
            <td th:text="${comment.id}"></td>
            <td th:text="${comment.commentWriter}"></td>
            <td th:text="${comment.commentContents}"></td>
            <td th:text="${comment.commentCreatedTime}"></td>
        </tr>
        </tbody>
    </table>

    <div class="mb-3">
        <input type="text" id="commentWriter" placeholder="작성자" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" id="commentContents" placeholder="내용" class="form-control">
    </div>
    <button id="comment-write-btn" onclick="commentWrite()" class="btn btn-primary">리뷰작성</button>
</div>


<div id="bottomRightButtons">
    <div class="transparentBox">
        <a href="/favorite">
            <button id="bookmarkBtn" class="btn btn-primary">즐겨찾기</button>
        </a>
        <a href="/auth/signin">
            <button id="loginBtn" class="btn btn-primary">로그인/마이페이지</button>
        </a>
        <!-- 아이콘 추가 -->
        <span class="materiqal-icons">
            <img src="/images/apple-icon-72x72.png" alt="아이콘" class="icon-image">
        </span> <!-- 예시: material-icons 사용 -->
    </div>
</div>


<div id="bottomNotice">
    <p>
        AJou PARKING이 새롭게 출시되었습니다. 사용자의 현재위치가 최대 450미터까지 차이날 수 있습니다. &nbsp; &nbsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
    </p>
</div>




<div class="modal fade" id="satisfactionModal" tabindex="-1" role="dialog" aria-labelledby="satisfactionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="satisfactionModalLabel">만족도 조사</h5>
            </div>
            <div class="modal-body">
                <!-- 주차 공간의 청결도에 대한 만족도 -->
                <label for="cleanlinessSatisfaction">주차 공간의 청결도에 대해 만족하세요?</label>
                <select class="form-control" id="cleanlinessSatisfaction">
                    <option value="5">만족</option>
                    <option value="4">다소 만족</option>
                    <option value="3">보통</option>
                    <option value="2">다소 불만</option>
                    <option value="1">불만</option>
                </select>

                <!-- 주차장 시설 및 편의 시설에 대한 만족도 -->
                <label for="facilitySatisfaction">주차장 시설 및 편의 시설에 대해 만족하세요?</label>
                <select class="form-control" id="facilitySatisfaction">
                    <option value="5">만족</option>
                    <option value="4">다소 만족</option>
                    <option value="3">보통</option>
                    <option value="2">다소 불만</option>
                    <option value="1">불만</option>
                </select>

                <!-- 주차장의 혼잡도에 대한 만족도 -->
                <label for="congestionSatisfaction">주차장의 혼잡도에 대해 만족하세요?</label>
                <select class="form-control" id="congestionSatisfaction">
                    <option value="5">만족</option>
                    <option value="4">다소 만족</option>
                    <option value="3">보통</option>
                    <option value="2">다소 불만</option>
                    <option value="1">불만</option>
                </select>

                <!-- 주차 요금에 대한 만족도 -->
                <label for="feeSatisfaction">주차 요금에 대해 만족하세요?</label>
                <select class="form-control" id="feeSatisfaction">
                    <option value="5">만족</option>
                    <option value="4">다소 만족</option>
                    <option value="3">보통</option>
                    <option value="2">다소 불만</option>
                    <option value="1">불만</option>
                </select>

                <!-- 주차장의 안전성에 대한 만족도 -->
                <label for="safetySatisfaction">주차장의 안전성에 대해 만족하세요?</label>
                <select class="form-control" id="safetySatisfaction">
                    <option value="5">만족</option>
                    <option value="4">다소 만족</option>
                    <option value="3">보통</option>
                    <option value="2">다소 불만</option>
                    <option value="1">불만</option>
                </select>

                <!-- 주차장의 표지판 및 안내 시스템에 대한 만족도 -->
                <label for="signageSatisfaction">주차장의 표지판 및 안내 시스템에 대해 만족하세요?</label>
                <select class="form-control" id="signageSatisfaction">
                    <option value="5">만족</option>
                    <option value="4">다소 만족</option>
                    <option value="3">보통</option>
                    <option value="2">다소 불만</option>
                    <option value="1">불만</option>
                </select>

                <!-- 주차장 직원의 서비스에 대한 만족도 -->
                <label for="serviceSatisfaction">주차장 직원의 서비스에 대해 만족하세요?</label>
                <select class="form-control" id="serviceSatisfaction">
                    <option value="5">만족</option>
                    <option value="4">다소 만족</option>
                    <option value="3">보통</option>
                    <option value="2">다소 불만</option>
                    <option value="1">불만</option>
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeSatisfactionModal()" >Close</button>
                <button type="button" class="btn btn-primary" onclick="submitSatisfactionSurvey()">Submit</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="visualizationModal" tabindex="-1" role="dialog" aria-labelledby="visualizationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="visualizationModalLabel">시각화 분석</h5>
            </div>
            <div class="modal-body">
                <!-- Add your visualization content here -->

                <canvas id="radar-chart" width="250" height="250"></canvas>
                <canvas id="bar-chart" width="300" height="230"></canvas>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closevisualizationModal()">Close</button>
            </div>
        </div>
    </div>
</div>




<!-- Bootstrap JS and other scripts -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

<script type="text/javaScript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=75d65be9a39ddfb55fce3a7fef87cf7a"></script>

<script type="text/javaScript" src="js/my.js"></script>


<script>
    function closeSatisfactionModal() {
        console.log('Closing modal');
        $('#satisfactionModal').modal('hide');
    }

    function closevisualizationModal() {
        console.log('Closing modal');
        $('#visualizationModal').modal('hide');
    }


</script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</body>

</html>