* {
    font-family: 'BMJUA', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'BMJUA', sans-serif;
    background-color: #f7f7f7;
    color: #444;
}

#sidebar {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* 모서리를 둥글게 처리 */
    z-index: 3;
    position: relative;
}
.centered-image {
    display: block;
    margin: 0 auto;
}

#searchContainer {
    position: sticky;
    top: 0;
    background-color: #e0e0e0;
    z-index: 4;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

#searchResultsContainer {
    flex: 1;
    overflow-y: auto;
    padding: 15px; /* 간격 조절 */
    background-color: #f5f5f5;
    border-radius: 8px;
    z-index: 4;
}
#searchResultsContainer .parking-link {
    font-size: 1.1em; /* 주차장명의 글자 크기 조절 */

}

#searchResultsContainer h3 {
    font-size: 1em; /* 글자 크기 조절 */
}

#searchResultsContainer p {
    font-size: 0.8em; /* 글자 크기 조절 */
}

#detailedParkingLotInfo {
    display: none;
    font-size: 1em;
    line-height: 0.5;
    max-height: 200px; /* Adjust the max height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* 간격 조절 */
    border-radius: 8px;
}






#searchResultsContainer,
#detailedParkingLotInfo {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #007bff #f7f7f7; /* For Firefox */
}

#searchResultsContainer::-webkit-scrollbar,
#detailedParkingLotInfo::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

#searchResultsContainer::-webkit-scrollbar-thumb,
#detailedParkingLotInfo::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Color of the scrollbar thumb */
}

#searchResultsContainer::-webkit-scrollbar-track,
#detailedParkingLotInfo::-webkit-scrollbar-track {
    background-color: #f7f7f7; /* Color of the scrollbar track */
}





#visualizationContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 400px; /* 투명한 세로 영역의 너비 조절 */
    background-color: rgba(255, 255, 255, 0); /* 투명한 배경 색상 */
    z-index: 2; /* map과 겹치지 않도록 z-index 설정 */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#serveyBtn {
    writing-mode: vertical-lr; /* 세로로 텍스트 표시를 위한 속성 추가 */
    text-orientation: upright; /* 텍스트 방향 설정 (선택 사항) */
    position: absolute;
    bottom: 220px; /* 아래에서 100px 떨어진 위치 */
    width: 50px;
    height: 100px;
    border-radius: 0px 8px 8px 0px;
}
#visualizationBtn {
    writing-mode: vertical-lr; /* 세로로 텍스트 표시를 위한 속성 추가 */
    text-orientation: upright; /* 텍스트 방향 설정 (선택 사항) */
    position: absolute;
    bottom: 110px; /* 아래에서 100px 떨어진 위치 */
    width: 50px;
    height: 100px;
    border-radius: 0px 8px 8px 0px;
}
#mapBtn{
    writing-mode: vertical-lr; /* 세로로 텍스트 표시를 위한 속성 추가 */
    text-orientation: upright; /* 텍스트 방향 설정 (선택 사항) */
    position: absolute;
    bottom: 330px; /* 아래에서 100px 떨어진 위치 */
    width: 50px;
    height: 45px;
    border-radius: 0px 8px 8px 0px;
}
#roadBtn{
    writing-mode: vertical-lr; /* 세로로 텍스트 표시를 위한 속성 추가 */
    text-orientation: upright; /* 텍스트 방향 설정 (선택 사항) */
    position: absolute;
    bottom: 385px; /* 아래에서 100px 떨어진 위치 */
    width: 50px;
    height: 42px;
    border-radius: 0px 8px 8px 0px;
}




#map {
    flex: 1;
    width: 100%;
    height: 100vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    z-index:1
}



#roadview {
    flex: 1;
    width: 100%;
    height: 100vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    z-index:0.9
}


#Reviews {
    position: absolute;
    top: 0px;
    /*right: 10px;*/
    right: 10px; /* Initially positioned outside the viewport */
    transition: right 0.5s ease-in-out; /* Add a transition for smooth animation */
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
    border-radius: 8px;
    align-items: flex-end; /* 추가 */
    text-align: left; /* 텍스트 정렬 추가 */
}

#Reviews th {
    font-size: 0.8em; /* Adjusted font size for table headers */
}

#Reviews td {
    font-size: 0.8em; /* Adjusted font size for table data */
}

#Reviews .parking-link {
    font-size: 0.9em; /* Adjusted font size for parking links */
}

#Reviews #commentContents {
    width: 100%; /* Widened the comment contents input area */
}

#Reviews h3 {
    font-size: 1em; /* Adjusted font size for the '리뷰' heading */
}

#show-more-reviews-btn {

}






#bottomRightButtons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000; /* map과 겹치지 않도록 z-index 설정 */
}

.transparentBox {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#bottomRightButtons button {
    margin-right: 5px;
}


.icon-image {
    width: 2.3em; /* 이미지 크기 조절 */
    height: 2.3em;
    margin-right: 5px;
    vertical-align: middle;
}




#bottomNotice {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 123, 255, 0);
    color: #000;
    padding: 2px;
    text-align: right;
    z-index: 9999;
}

#bottomNotice p {
    margin: 0; /* To remove default margin of <p> element */
}







#satisfactionModal,
#visualizationModal {
    scrollbar-width: thin;
    scrollbar-color: #007bff #f7f7f7;
}

#satisfactionModal::-webkit-scrollbar,
#visualizationModal::-webkit-scrollbar {
    width: 8px;
}

#satisfactionModal::-webkit-scrollbar-thumb,
#visualizationModal::-webkit-scrollbar-thumb {
    background-color: #007bff;
}

#satisfactionModal::-webkit-scrollbar-track,
#visualizationModal::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}





h3 {
    color: #555;
    font-size: 1.2em; /* 글자 크기 조절 */
}

label {
    color: #333;
    font-size: 1em; /* 글자 크기 조절 */
    margin-bottom: 8px; /* 간격 조절 */
}

input {
    padding: 8px;
    font-size: 1em;
}

button {
    padding: 8px 16px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


button:hover {
    background-color: #0056b3;
}


@font-face {
    font-family: "BMJUA";
    src: url("../BMJUA_ttf.ttf") format("truetype")
}

@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
    }

    #sidebar {
        width: 350px;
    }

    #map {
        height: calc(100vh - 5px); /* 간격 조절 */
    }
}

.map-image {
    width: 25px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    display: block;
    margin: 0 auto;
}